*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(45deg,yellow,red);
     display: flex;
    justify-content: center;
    align-items: center;
   flex-direction: column;

}

.main h1{
    font-size: 45px;
   
    margin-top: -90px;
    margin-bottom: 50px;
   }

span{
    color:rgb(5, 5, 115);
   
}

textarea{
    width: 600px;
    height: 250px;
    border: 0;
    font-size: 15px;
    padding: 20px;
    border-radius: 10px;
    resize: none;
    margin-bottom: 30px;
    background: linear-gradient(20deg,white,orange);
}

textarea::placeholder{
    color:black;
    font-size: 20px;
   
}

.row{
    width: 600px;
    display: flex;
    align-items: center;
    gap: 50px;

}

button{
    background: linear-gradient(30deg,orange,white);
    font-size: 20px;
    cursor: pointer;
}

select{
    flex: 10;
    background:linear-gradient(30deg,white,yellow);
    color: black;
    border: none;
    outline: none;
    height: 30px;
    border-radius: 35px;
}